*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-image: url(./img/moon.jpg);
	background-size: cover;
}

.board {
	width: 100vw;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto);
}

.cell {
	width: 100px;
	height: 100px;
	background: linear-gradient(
			to bottom right,
			rgba(255, 255, 255, 0.402) 0%,
			rgba(0, 0, 0, 0.361) 100%
		),
		#1f1f1f;

	border: 1px solid white;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.cell.x,
.cell.circle {
	cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
	content: "";
	position: absolute;
	width: calc((100px * 0.9) * 0.15);
	height: calc(100px * 0.9);
	background-color: white;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
	transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
	transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.circle):not(.x):hover::before,
.board.circle .cell:not(.circle):not(.x):hover::after {
	content: "";
	position: absolute;
	width: calc(100px * 0.9);
	height: calc(100px * 0.9);
	background-color: white;
	border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.circle):not(.x):hover::before {
	width: calc(100px * 0.9);
	height: calc(100px * 0.9);
	background-color: white;
}

.cell.circle::after,
.board.circle .cell:not(.circle):not(.x):hover::after {
	width: calc(100px * 0.65);
	height: calc(100px * 0.65);
	background: linear-gradient(
			to bottom right,
			rgba(255, 255, 255, 0.402) 0%,
			rgba(0, 0, 0, 0.361) 100%
		),
		#1f1f1f;
}

.winning-message {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 5rem;
	flex-direction: column;
}

.winning-message button {
	font-size: 3rem;
	background-color: white;
	border: 2px solid black;
	padding: 0.3em 0.4em;
	cursor: pointer;
}

.winning-message button:hover {
	background-color: black;
	color: white;
	border-color: white;
}

.winning-message.show {
	display: flex;
}
